<ng-template #leftToolbar>
  <tk-toolbar-item
    title="{{ 'GENERAL.CLOSE' | translate }}"
    icon="times"
    routerLink="/home"
  ></tk-toolbar-item>
  <tk-toolbar-item
    title="{{ 'GENERAL.SAVE' | translate }}"
    icon="save"
    (click)="this.bookDetailFormComponent.emitForm()"
  ></tk-toolbar-item>
</ng-template>
<tk-portal-page
  [header]="'BOOK.EDIT.HEADER' | translate"
  [leftToolbar]="leftToolbar"
>
  <app-book-detail-form
    (formSubmitted)="onSubmit($event)"
  ></app-book-detail-form>
</tk-portal-page>
